<html>
<head>
        {{> main}}
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
</head>
<body>
{{#if nav}}
        {{> nav}}
    {{/if}}
    <h1 class="d-flex align-items-center justify-content-center">{{title}}</h1>
    
    <div class="d-flex align-items-center justify-content-center">
    <img src="/Photo.png" alt="Scottish Pantry Network image" style="width: 90vh;" class="d-flex align-items-center justify-content-center">
    </div>
</body>
</html>
