<html>
<head>
        {{> main}}
</head>
<body>
{{#if nav}}
        {{> nav}}
    {{/if}}
    <h1>{{title}}</h1>


    {{#entries}}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"> Donate by {{author}}</h4>
            
            <div class="card-footer">
                <br>
                detailed information: {{details}} 
                <br>
                <br>


                <form action="/contacts" method="post">
                <input type="hidden" name="_id" id="_id" value="{{_id}}">
                <button type="submit">delete</button>
                </form>
            </div>
        </div>
    </div>
    {{/entries}}
    {{^entries}}
    No entries yet.
    {{/entries}}

</body>
</html>
