<html>
<head>
        {{>main}}
</head>
<body>
{{#if nav}}
        {{> nav}}
    {{/if}}

    <div class="mx-auto h-100 d-flex align-items-center justify-content-center">
    <h1>{{title}}</h1>
<div class="container">
    <form method="POST" action="/createDonation">

      <label for="donation_type">Donation type:</label>
      <select name="donation_type" id="donation_type">
        <option value="cans">Cans</option>
        <option value="fresh_produce">Fresh produce</option>
        <option value="baked_goods">Baked goods</option>
        <option value="Meat">Meat</option>
      </select>

      {{!-- <label for="pantry">Pantry:</label>
      <select name="pantry" id="pantry">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select> --}}

      {{#pantries}}
      <label for="pantry">Pantry:</label>
     <select name="pantry" id="pantry"></select>
        <option value={{pantry.name}}>{{pantry.name}}</option>
    </select>
    {{/pantries}}

    <label for="Expiration_date">Expiration date:</label>
    <input type="date" id="Expiration_date" name="Expiration_date">

      <input type="submit" value="Send">

    </form>
  </div>
  </div>
</body>
</html>
