<html>
<head>
        {{>main}}
</head>
<body>
    {{#if nav}}
        {{> nav}}
    {{/if}}

    <div class="mx-auto h-100 d-flex align-items-center justify-content-center">
<div class="container">
        <h1 class="d-flex align-items-center justify-content-center">{{title}}</h1>

    <form method="POST" action="/donate">
<div class="form-group d-flex align-items-center justify-content-center">

      <label for="donation_type">Donation type:</label>
      <select name="donation_type" id="donation_type">
        <option value="cans">Cans</option>
        <option value="fresh_produce">Fresh produce</option>
        <option value="baked_goods">Baked goods</option>
        <option value="Meat">Meat</option>
      </select>
</div>
{{!-- <div class="form-group d-flex align-items-center justify-content-center">
    <label for="pantry">Pantry:</label>
    <select name="pantry" id="pantry">
    {{#pantrys}}
        <option value="{{username}}">{{username}}</option>
    {{/pantrys}}
</select>
    </select>
</div> --}}
<div class="form-group d-flex align-items-center justify-content-center">

    <label for="Expiration_date">Expiration date:</label>
    <input type="date" id="Expiration_date" name="Expiration_date" required>
</div>

<div class="form-group d-flex align-items-center justify-content-center">
<label for="additional">Additional donation information</label>
<input type="text" id="additional" name="additional" placeholder="extra information.." required>

</div>

<div class="form-group d-flex align-items-center justify-content-center">

      <input type="submit" value="Send">
</div>
    </form>
  </div>
  </div>
</body>
</html>
